body {
    font-family: "Lato", sans-serif;
}

/*--------------------------------------------Navbar*/


.container-fluid {
    padding-left: 40px;
    padding-right: 40px;
}

.nav-item {
    padding-left: 40px;
}

.navbar {
    background-color: #dadada;
}

#navbarNav a:hover {

    color: #dd9208;
    border-bottom: 1px solid #dd9208;
}

.active {
    border-bottom: 1px solid #dd9208;
}

/*--------------------------------------------Hero Image*/

.callout-container {

    height: 100vh;

    background: url("/assets/images/silhouette.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}


/*--------------------------------------------Sign-up Container*/
.sign-up-container-text {
    text-align: center;
    padding: 40px;
}

.sign-up-container-text h3 {
    font-family: "Merriweather", sans-serif;
}

.sign-up-container-form {
    margin-bottom: 20px;
}

.bg-color-sign-up {
    background-color: #dadada;
}

.btn-submit {
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #E47670;
    border-color: #E47670;
}


.btn-submit:hover {
    /* color: #535353; */
    background-color: #dd9208;
    border-color: #dd9208;
}

/*--------------------------------------------Info box*/
.icon {
    font-size: 25px;
}

.info-box-1,
.info-box-2 {
    display: block;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.info-box-1 h3,
.info-box-2 h3 {
    font-family: "Merriweather", sans-serif;
}

/*--------------------------------------------Testimonial*/
.testimonial {
    font-style: italic;
    text-align: center;
    background-color: #dadada71;
}

.testimonial h2 {
    font-family: "Merriweather", sans-serif;
}

.quote-text {
    margin-top: 24px;
    margin-bottom: 0;
}

.quote-name {
    font-style: normal;
    font-weight: bold;
    text-align: justify;
}

/*--------------------------------------------Footer*/

/*Map link*/
a:link {
    text-decoration: none;
    color: #212529;
}

a:hover {
    color: #da2b14;
}

/* .map {
    text-decoration: none;
    color: #212529;
 }    */

#footer-details {
    margin: 0;
    padding: 20px;
    font-size: 12px;
}

.footer-logo {
    padding: 20px;
}

.address {
    text-decoration: none;
    font-size: 12px;

}

.contact-info-email,
.contact-info-mobile {
    margin-bottom: 10px;
}

.email,
.mobile {
    margin-left: 10px;
}

.inline-block {
    display: inline-block;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}


#button-footer {
    padding-right: 5px;
    padding-left: 5px;
}

.form-control-sm {
    margin-bottom: 20px;
}

/* Jumbotron from Whiskey project */

.jumbotron {
    background: transparent;
}

.jumbotron-header {
    font-family: "Merriweather", sans-serif;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    padding-top: 30px;
}

.jumbotron h4 {
    color: white;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #a7a7a7;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/*--------------------------------------------Media Queries*/

@media screen and (min-width: 768px) {
    background: url("/assets/images/silhouette-mobile.jpg") no-repeat center top;
}